footer.footer
    .footer__inner
        .container
            .nav
                ul.nav__list.nav__list--footer
                    li.nav__item.nav__item--footer
                        a.nav__link.nav__link--footer(href="about.html") About
                    li.nav__item.nav__item--footer
                        a.nav__link.nav__link--footer(href="social-media.html") Social&nbsp;media
                    li.nav__item.nav__item--footer
                        a.nav__link.nav__link--footer(href="events.html") Events
                    li.nav__item.nav__item--footer
                        a.nav__link.nav__link--footer(href="contacts.html") Contacts
            .footer__copyright Copyright © 2019-2021 KAGAYAKU KARATE

a.back-to-top(title="Up") &#9650;
script(type="text/javascript", src="js/top_button.js")
script(type="text/javascript", src="https://unpkg.com/aos@next/dist/aos.js")
script(type="text/javascript", src="js/app.js")
script(type="text/javascript", src="js/menu.js")
include metrika