- var pageTitle = 'Kagayaku Karate Events'

doctype html
html(lang="en")
    head
        include modules/head
        title= pageTitle
    body
        .page
            include modules/header
            
            .body
                .container
                    .body__header
                        h1.body__title Kagayaku Karate Events
                    .body__content
                        article.article#article-honored-martial-arts-mentor(data-aos="fade-up")
                            .article__inner 
                                h2.article__title Kagayaku Karate chief instructor Sensei Dr Artur awarded the state award «Honored Martial Arts Mentor»
                                img.article__img(src="images/events/2020/honored-martial-arts-mentor/20201013_121237(1).jpg", alt="")
                                p.article__text
                                    | Sensei Dr. Arthur Aloyan — chief instructor of Kagayaku Karate, was awarded the state award «Honored Martial Arts mentor». For over 20 years, Sensei Dr Artur has contributed to the development of martial arts and Karate in particular...
                                a.article__link(href="events/kagayaku-karate-chief-instructor-sensei-dr-artur-awarded-the-state-award-honored-martial-arts-mentor.html") Read more ↪
                        article.article#article-the-international-karate-seminar-2019(data-aos="fade-up")
                            .article__inner 
                                h2.article__title The International Karate Seminar 2019
                                img.article__img(src="images/events/2019/july/1/_MG_0857.JPG", alt="")
                                p.article__text
                                    | Kagayaku karate held «The International Karate Seminar 2019» in Asia. Kagayaku Karate held an international all-style karate workshop. The following sections of karate were affected: ...
                                a.article__link(href="events/the-international-karate-seminar-2019.html") Read more ↪
                        article.article#article-training-course-for-security-officers-in-asia(data-aos="fade-up")
                            .article__inner 
                                h2.article__title Training course for security Officers in Asia
                                img.article__img(src="images/events/2019/june/2019-06-12-05.49.38(1).jpeg", alt="")
                                p.article__text
                                    | The security service must be able to respond to any threats. For this purpose several required components are required: ...
                                a.article__link(href="events/training-course-for-security-officers-in-asia.html") Read more ↪
                        article.article#seven-days-self-defense-seminar-for-students-in-asia-may-2019(data-aos="fade-up")
                            .article__inner 
                                h2.article__title 7 days Self-defense seminar for students in Asia. May 2019
                                img.article__img(src="images/events/2019/may/2019-05-28-17.32.57.jpeg", alt="")
                                p.article__text
                                    | The seminar was held for university students. The guys had absolutely no experience in the martial arts. The objectives of the seminar were the following sections: ...
                                a.article__link(href="events/seven-days-self-defense-seminar-for-students-in-asia-may-2019.html") Read more ↪
                        article.article#sri-sri-ravi-shankar-held-a-meeting-with-dr-artur-aloyan-march-2019(data-aos="fade-up")
                            .article__inner 
                                h2.article__title Sri Sri Ravi Shankar held a meeting with Dr.Artur Aloyan, a president of Kagayaku Karate World Federation. March 2019
                                img.article__img(src="images/events/2019/march/photo_2019-03-18_07-57-59.jpg", alt="")
                                p.article__text
                                    | Thanks to the educational activities of karate all over the world and the joint development of Indian karate, there was a very high-level meeting between Sri Sri Ravi Shankar and Doctor Artur Aloyan — a president of Kagayaku Karate World Federation...
                                a.article__link(href="events/sri-sri-ravi-shankar-held-a-meeting-with-dr-artur-aloyan-march-2019.html") Read more ↪
                        article.article#first-official-presentation-of-kagayaku-karate-in-asia-2018(data-aos="fade-up")
                            .article__inner 
                                h2.article__title First official presentation of Kagayaku Karate in Asia 2018
                                img.article__img(src="images/events/2018/asia/2019-02-08_22.15.55.jpeg", alt="")
                                p.article__text
                                    | Presented personally by Chief instructor of Kagayaku Karate World Federation (KKWF) Dr.Artur Aloyan (september — december 2018). Multiple seminars and master classes perfomed by Kagayaku Karate World Federation were held in many Asian countries...
                                a.article__link(href="events/first-official-presentation-of-kagayaku-karate-in-asia-2018.html") Read more ↪
                        article.article#first-official-presentation-of-kagayaku-karate-in-usa-2018(data-aos="fade-up")
                            .article__inner 
                                h2.article__title First official presentation of Kagayaku Karate in USA 2018
                                img.article__img(src="images/events/2018/usa/Bnfbt6bsGkQ.jpg", alt="")
                                p.article__text
                                    | First Official Kagayaku Karate Seminar in Miami, FL, United States of America was held by Dr. Artur Aloyan in May 2018...
                                a.article__link(href="events/first-official-presentation-of-kagayaku-karate-in-usa-2018.html") Read more ↪
                        article.article#article-karate-world-cup-in-turkey-in-april-2018(data-aos="fade-up")
                            .article__inner 
                                h2.article__title Karate World Cup in Turkey in April 2018
                                img.article__img(src="images/events/2018/turkey/1bsoGGYdU40.jpg", alt="")
                                p.article__text
                                    | Kagayaku Karate team succesfully perfomed at Shotokan Karate World Cup 2018
                                a.article__link(href="events/karate-world-cup-in-turkey-in-april-2018.html") Read more ↪
            
            include modules/footer