- var pageTitle = 'Kagayaku Karate Chief Instructor'
- var pageDescription = 'Doctor Artur Aloyan is an international expert of the Traditional Karate and Martial Arts. For more than 12 years he practiced with Master Mikio Yahara side by side in Japan'

doctype html
html(lang="en")
    head
        include ../modules/head2
        meta(name="description" content= pageDescription)
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title Chief Instructor
                        .body__content
                            .article
                                .article__inner 
                                    p.article__text(data-aos="fade-up")
                                        |Doctor Artur Aloyan (august 27, 1978) is an international expert of the Traditional Karate and Martial Arts. For more than 12 years Artur Aloyan practiced his Karate with Master Mikio Yahara side by side in Japan.
                                    img.article__img(data-aos="zoom-in-up" src="../images/main/photo_2019-02-26_00-56-53.jpg", alt="")
                                    p.article__text(data-aos="fade-up")
                                        |By this day Dr. Artur is a President of Kagayaku Karate-Do World Federation (KKWF), Chief instructor of Kagayaku Karate-Do World Federation (KKWF), two-time World Karate Champion (both tournaments in 2010 in Greece), Europe Karate Champion (2008 Italy), MMA Oriental European Cup Champion (2009 Moldova), Multiple Karate Champion of Russia in Kumite and Kata, a Prizewinner of Multiple International Martial Arts and Combat Karate Tournaments.
                                    img.article__img(data-aos="zoom-in-up" src="../images/main/photo_2019-02-26_02-28-23.jpg", alt="")
                                    p.article__text(data-aos="fade-up")
                                        | Dr. Artur’s father Saring was a master of sports in powerlifting inspired his son to become a sportsman. But unlike his father, Artur found himself in Martial Arts practicing. For more than 30 years of practicing and more than 20 years of teaching, Dr. Artur succeeded as a head coach. Repeatedly confessed and granted as a coach in self-defence discipline. For many years multiple athlets patronized by Dr. Artur clinched awards in several Martial Arts disciplines, such as: Sport Karate, Karate Combat, Oriental, Taekwondo, Viet Vo Dao, MMA and many others.
                                    img.article__img(data-aos="zoom-in-up" src="../images/main/photo_2019-02-26_02-31-36.jpg", alt="")
                                    p.article__text(data-aos="fade-up")
                                        | Dr. Artur’s training methods based on traditional karate combined with his medical education and medical experience allows athlets practice more improve themselves as a fighters day by day without getting unnecessary injuries.
                                    p.article__text(data-aos="fade-up")
                                        | Dr. Artur Aloyan is a founder of Kagayaku Karate based in 1999 in Russia. Kagayaku Karate celebrates the 20th anniversary in 2019.
                                    p.article__text(data-aos="fade-up")
                                        | Senior students still practicing Karate-Do shoulder to shoulder with their Sensei since the day of founding.
                                    img.article__img(data-aos="zoom-in-up" src="../images/main/photo_2019-02-26_02-29-42.jpg", alt="")
                                    a.article__link(href="../about.html#article-chief-instructor") ↩ Back
            
            include ../modules/footer2