- var pageTitle = 'First official presentation of Kagayaku Karate in Asia 2018'
- var pageDescription = 'Multiple seminars and master classes perfomed by Kagayaku Karate World Federation were held in many Asian countries such as India, Sri Lanka, Malaysia etc.'

doctype html
html(lang="en")
    head
        include ../modules/head2
        meta(name="description" content= pageDescription)
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title= pageTitle
                        .body__content
                            .article
                                .article__inner 
                                    p.article__text
                                        | Presented personally by Chief instructor of Kagayaku Karate World Federation (KKWF) Dr.Artur Aloyan (september — december 2018).
                                    img.article__img(src="../images/events/2018/asia/2019-02-08_22.15.55.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.16.32(3).jpeg", alt="")
                                    p.article__text
                                        | Multiple seminars and master classes perfomed by Kagayaku Karate World Federation were held in many Asian countries such as India, Sri Lanka, Malaysia etc.
                                    img.article__img(src="../images/events/2018/asia/photo_2019-02-26_02-25-06(2).jpg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.47.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.45.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.47(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08_22.15.53.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.21(2).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.47(3).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.45(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.39.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.20.43.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.18.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.17.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.21(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.14.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.14(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.12.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08-22.19.05.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08_22.16.31.jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08_22.15.55(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2018/asia/2019-02-08_22.15.54.jpeg", alt="")
                                    a.article__link(href="../events.html#first-official-presentation-of-kagayaku-karate-in-asia-2018") ↩ Back
            
            include ../modules/footer2