- var pageTitle = 'First official presentation of Kagayaku Karate in USA 2018'
- var pageDescription = 'First Official Kagayaku Karate Seminar in Miami, FL, United States of America was held by Dr. Artur Aloyan in May 2018'

doctype html
html(lang="en")
    head
        include ../modules/head2
        meta(name="description" content= pageDescription)
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title= pageTitle
                        .body__content
                            .article
                                .article__inner
                                    img.article__img(src="../images/events/2018/usa/jap2NePP9jE.jpg", alt="")
                                    p.article__text
                                        | First Official Kagayaku Karate Seminar in Miami, FL, United States of America was held by Dr. Artur Aloyan in May 2018.
                                    img.article__img(src="../images/events/2018/usa/9hgDxNg_XNM.jpg", alt="")
                                    img.article__img(src="../images/events/2018/usa/M9oLunKz6v0.jpg", alt="")
                                    img.article__img(src="../images/events/2018/usa/Bnfbt6bsGkQ.jpg", alt="")
                                    img.article__img(src="../images/events/2018/usa/gIdB0toSyXM.jpg", alt="")
                                    p.article__text
                                        | Kagayaku Karate successfully appeared at the USA Karate World Cup 2018
                                    a.article__link(href="../events.html#first-official-presentation-of-kagayaku-karate-in-usa-2018") ↩ Back
            
            include ../modules/footer2