- var pageTitle = 'Kagayaku Karate chief instructor Sensei Dr Artur awarded the state award «Honored Martial Arts Mentor»'
- var pageDescription = 'Chief instructor of Kagayaku Karate was awarded the state award «Honored Martial Arts mentor». For over 20 years Sensei Dr Artur has contributed to the development of martial arts and Karate in particular'

doctype html
html(lang="en")
    head
        include ../modules/head2
        meta(name="description" content= pageDescription)
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title Kagayaku Karate chief instructor Sensei Dr Artur awarded the state award «Honored Martial Arts Mentor»
                        .body__content
                            .article
                                .article__inner 
                                    img.article__img(src="../images/events/2020/honored-martial-arts-mentor/20201013_121237(1).jpg", alt="")
                                    p.article__text 
                                        | Sensei Dr. Arthur Aloyan — chief instructor of Kagayaku Karate, was awarded the state award «Honored Martial Arts mentor». For over 20 years, Sensei Dr Artur has contributed to the development of martial arts and Karate in particular. The Kagayaku Karate Martial arts school wholeheartedly congratulates its teacher and mentor on the well-deserved award and wishes him prosperity and fortitude in the world of budo, happiness and harmony in life.
                                    a.article__link(href="../events.html#article-honored-martial-arts-mentor") ↩ Back
            
            include ../modules/footer2