- var pageTitle = '7 days Self-defense seminar for students in Asia. May 2019'

doctype html
html(lang="en")
    head
        include ../modules/head2
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title= pageTitle
                        .body__content
                            .article
                                .article__inner 
                                    img.article__img(src="../images/events/2019/may/2019-05-28-17.32.57.jpeg", alt="")
                                    p.article__text
                                        | The seminar was held for university students. The guys had absolutely no experience in the martial arts.
                                    ul.article__list
                                        | The objectives of the seminar were the following sections:
                                        li.article__list-item.article__list-item--line what is self-defense;
                                        li.article__list-item.article__list-item--line what to do in a situation that requires an immediate response to impending aggression;
                                        li.article__list-item.article__list-item--line how to properly assess the degree of threat as such;
                                        li.article__list-item.article__list-item--line evaluation of their own forces when meeting with aggression on the street;
                                        li.article__list-item.article__list-item--line base knowledge and skills necessary to counter the threat;
                                        li.article__list-item.article__list-item--line self-defense for women;
                                        li.article__list-item.article__list-item--line simulation of common types of attacks;
                                        li.article__list-item.article__list-item--line ways of peaceful exit from situations with a life threat;
                                        li.article__list-item.article__list-item--line first-priority tasks in protecting themselves and their loved ones in a critical situation
                                        | and many many others.
                                    img.article__img(src="../images/events/2019/may/2019-05-06-14.17.26(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2019/may/2019-05-28-17.33.00.jpeg", alt="")
                                    a.article__link(href="../events.html#seven-days-self-defense-seminar-for-students-in-asia-may-2019") ↩ Back
            
            include ../modules/footer2