- var pageTitle = 'Sri Sri Ravi Shankar held a meeting with Dr.Artur Aloyan, a president of Kagayaku Karate World Federation. March 2019'
- var pageDescription = 'Thanks to the educational activities of karate all over the world and the joint development of Indian karate, there was a very high-level meeting between Sri Sri Ravi Shankar and Doctor Artur Aloyan'

doctype html
html(lang="en")
    head
        include ../modules/head2
        meta(name="description" content= pageDescription)
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title= pageTitle
                        .body__content
                            .article
                                .article__inner 
                                    img.article__img(src="../images/events/2019/march/photo_2019-03-18_07-57-59.jpg", alt="")
                                    p.article__text
                                        | Thanks to the educational activities of karate all over the world and the joint development of Indian karate, there was a very high-level meeting between Sri Sri Ravi Shankar and <a class="article__text-link" href="../about/chief-instructor.html">Doctor Artur Aloyan</a> — a president of Kagayaku Karate World Federation.
                                    ul.article__list
                                        | <strong>Sri Sri Ravi Shankar</strong>:
                                        li.article__list-item.article__list-item--disc a peacemaker uniting millions of people around the world, regardless of their nationality or religion,
                                        li.article__list-item.article__list-item--disc the founder of the Art of Living Foundation, a volunteer — based NGO providing social support to the people,
                                        li.article__list-item.article__list-item--disc the establisher a Geneva-based charity, the International Association for Human Values.
                                    p.article__text
                                        | It is significant that the meeting took place in India — the cradle of any martial arts.
                                    img.article__img(src="../images/events/2019/march/photo_2019-03-18_07-58-00.jpg", alt="")
                                    p.article__text
                                        | Kagayaku Karate World Federation express our deepest gratitude for the warm welcome, and we say thanks to Sri Sri Ravi Shankar with a great respect for the trust placed in us. As a result of the meeting in Art of Living Center, we were convinced that the course chosen by the Kagayaku Karate World Federation is absolutely correct. Kagayaku Karate continues to contribute by advocating for universal human values, drug prevention, promoting healthy lifestyles, and health, countering gender-based violence.
                                    img.article__img(src="../images/events/2019/march/photo_2019-03-18_07-57-59(2).jpg", alt="")
                                    a.article__link(href="../events.html#sri-sri-ravi-shankar-held-a-meeting-with-dr-artur-aloyan-march-2019") ↩ Back
            
            include ../modules/footer2