- var pageTitle = 'The International Karate Seminar 2019'

doctype html
html(lang="en")
    head
        include ../modules/head2
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title The International Karate Seminar 2019
                        .body__content
                            .article
                                .article__inner 
                                    img.article__img(src="../images/events/2019/july/1/MG_0857.JPG", alt="")
                                    p.article__text
                                        | Kagayaku karate held «The International Karate Seminar 2019» in Asia.
                                    p.article__text
                                        | Kagayaku Karate held an international all-style karate workshop.
                                    ol.article__list
                                        | The following sections of karate were affected:
                                        li.article__list-item Traditional technique in Karate (kihon) and its use for self-defense in real life.
                                        li.article__list-item Basic technique — analysis and explanation for high-level practitioners.
                                        li.article__list-item Tips and tricks for the speedy mastering of skills.
                                        li.article__list-item Kumite practice: Advanced footwork in sparring (kumite) and so on.
                                    img.article__img(src="../images/events/2019/july/1/MG_0881.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0862.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0929.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0955.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0972.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0979.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0997.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_0998.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_1006.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/1/MG_1023.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/2/MG_1053.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/2/MG_1065.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/2/MG_1078.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/2/MG_1094.JPG", alt="")
                                    img.article__img(src="../images/events/2019/july/2/MG_1158.JPG", alt="")
                                    p.article__text
                                        | Thank you all for visiting! Untill next time!
                                    
                                    a.article__link(href="../events.html#article-the-international-karate-seminar-2019") ↩ Back
            
            include ../modules/footer2