- var pageTitle = 'Training course for security officers in Asia'
- var pageDescription = 'The security service must be able to respond to any threats. Several required components'

doctype html
html(lang="en")
    head
        include ../modules/head2
        meta(name="description" content= pageDescription)
        title= pageTitle
    body
        .page
            include ../modules/header2
            
            .body
                .container
                    main.main
                        .body__header
                            h1.body__title= pageTitle
                        .body__content
                            .article
                                .article__inner 
                                    img.article__img(src="../images/events/2019/june/2019-06-12-05.49.38(1).jpeg", alt="")
                                    p.article__text
                                        | The security service must be able to respond to any threats.
                                    ul.article__list
                                        | For this purpose several required components are required:
                                        li.article__list-item.article__list-item--line Good physical training
                                        li.article__list-item.article__list-item--line Self-mastery
                                        li.article__list-item.article__list-item--line Basic psychologist skills
                                        li.article__list-item.article__list-item--line Mastering the basics of martial arts
                                        li.article__list-item.article__list-item--line Preparation of the body
                                    img.article__img(src="../images/events/2019/june/2019-05-29-05.30.56(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-05-07-05.27.13yh.jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-06-11-05.51.47.jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-06-11-05.51.40(1).jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-06-13-06.35.27.jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-06-13-06.35.14hj.jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-06-13-06.35.09.jpeg", alt="")
                                    img.article__img(src="../images/events/2019/june/2019-06-13-06.36.5hj1.jpeg", alt="")
                                    a.article__link(href="../events.html#article-training-course-for-security-officers-in-asia") ↩ Back
            
            include ../modules/footer2